<svg role="img" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" fill="#888888">
  <title>Kaggle</title>
  <path d="M7.813 12l3.437 7.125h3.813L11.625 12l3.438-7.125H11.25L7.812 12zm-1.625-7.125h3.813L4 19.125h3.813L6.188 4.875z"/>
</svg>