<svg role="img" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" fill="#888888">
  <title>LeetCode</title>
  <path d="M13.483 0a1.374 1.374 0 0 0-1.374 1.374v15.803l-5.4-6.287a1.375 1.375 0 0 0-1.923.001a1.374 1.374 0 0 0 0 1.942l7.116 8.272a1.375 1.375 0 0 0 1.923 0l7.116-8.272a1.374 1.374 0 0 0 0-1.942a1.375 1.375 0 0 0-1.923-.001l-5.4 6.287V1.374A1.374 1.374 0 0 0 13.483 0zM4.374 24a1.374 1.374 0 0 1-1.374-1.374v-4.832a1.374 1.374 0 0 1 2.748 0v4.832A1.374 1.374 0 0 1 4.374 24z"/>
</svg>